<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @project.capacity %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @project.generation %>
</p>

<p>
  <strong>Power category:</strong>
  <%= @project.power_category %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @project.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @project.latitude %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
